In [ ]:
# installs

# notebook/colab
! pip install scikit-plot

Collecting scikit-plot
  Downloading https://files.pythonhosted.org/packages/7c/47/32520e259340c140a4ad27c1b97050dd3254fdc517b1d59974d47037510e/scikit_plot-0.3.7-py3-none-any.whl
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (0.22.2.post1)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy>=0.9->scikit-plot) (1.19.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.4.0->scikit-plot) (1.15.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7

In [20]:
# imports

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots

# what we need for today
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn import metrics 

import scikitplot as skplt

# color maps
from matplotlib import cm

# for distance and h-clustering
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
from scipy.spatial.distance import pdist, squareform


# sklearn does have some functionality too, but mostly a wrapper to scipy
from sklearn.metrics import pairwise_distances 
from sklearn.preprocessing import StandardScaler

## Loading the Data

In [82]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [83]:
path = "/content/stock-fundamentals.csv"
df = pd.read_csv(path)

In [84]:
df.head(3)

   Quarter end      Shares  ...  ticker  quarter_end
0          NaN  3588919000  ...    ORCL   2018-11-30
1          NaN   261043625  ...     FDX   2018-11-30
2          NaN   359091176  ...    PAYX   2018-11-30

[3 rows x 43 columns]

In [85]:
df.shape

(755, 43)

In [86]:
df.describe()

       Quarter end        Shares  ...  Free cash flow per share  Current ratio
count          0.0  7.550000e+02  ...                753.000000     633.000000
mean           NaN  4.911493e+08  ...                  6.622138       1.838612
std            NaN  8.853124e+08  ...                149.894366       1.378521
min            NaN  1.641681e+06  ...                -18.740000       0.192100
25%            NaN  1.265114e+08  ...                  0.120000       1.047500
50%            NaN  2.442958e+08  ...                  0.770000       1.498800
75%            NaN  4.788721e+08  ...                  1.650000       2.127800
max            NaN  9.814197e+09  ...               4113.470000      12.298000

[8 rows x 41 columns]

In [87]:
df.dtypes

Quarter end                                   float64
Shares                                          int64
Shares split adjusted                           int64
Split factor                                    int64
Assets                                          int64
Current Assets                                float64
Liabilities                                     int64
Current Liabilities                           float64
Shareholders equity                             int64
Non-controlling interest                        int64
Preferred equity                                int64
Goodwill & intangibles                          int64
Long-term debt                                  int64
Revenue                                       float64
Earnings                                        int64
Earnings available for common stockholders      int64
EPS basic                                     float64
EPS diluted                                   float64
Dividend per share                            float64
Cash from operating activities                float64
Cash from investing activities                float64
Cash from financing activities                float64
Cash change during period                       int64
Cash at end of period                           int64
Capital expenditures                            int64
Price                                         float64
Price high                                    float64
Price low                                     float64
ROE                                           float64
ROA                                           float64
Book value of equity per share                float64
P/B ratio                                     float64
P/E ratio                                     float64
Cumulative dividends per share                float64
Dividend payout ratio                         float64
Long-term debt to equity ratio                float64
Equity to assets ratio                        float64
Net margin                                    float64
Asset turnover                                float64
Free cash flow per share                      float64
Current ratio                                 float64
ticker                                         object
quarter_end                                    object
dtype: object

In [88]:
df[~(df['Current Assets'].isnull()) & (df['Current Liabilities'].isnull())]

Empty DataFrame
Columns: [Quarter end, Shares, Shares split adjusted, Split factor, Assets, Current Assets, Liabilities, Current Liabilities, Shareholders equity, Non-controlling interest, Preferred equity, Goodwill & intangibles, Long-term debt, Revenue, Earnings, Earnings available for common stockholders, EPS basic, EPS diluted, Dividend per share, Cash from operating activities, Cash from investing activities, Cash from financing activities, Cash change during period, Cash at end of period, Capital expenditures, Price, Price high, Price low, ROE, ROA, Book value of equity per share, P/B ratio, P/E ratio, Cumulative dividends per share, Dividend payout ratio, Long-term debt to equity ratio, Equity to assets ratio, Net margin, Asset turnover, Free cash flow per share, Current ratio, ticker, quarter_end]
Index: []

# Data Cleaning

In [89]:
df.index = df['ticker']

In [90]:
df.head(3)

        Quarter end      Shares  ...  ticker  quarter_end
ticker                           ...
ORCL            NaN  3588919000  ...    ORCL   2018-11-30
FDX             NaN   261043625  ...     FDX   2018-11-30
PAYX            NaN   359091176  ...    PAYX   2018-11-30

[3 rows x 43 columns]

In [91]:
df.isna().sum()

Quarter end                                   755
Shares                                          0
Shares split adjusted                           0
Split factor                                    0
Assets                                          0
Current Assets                                122
Liabilities                                     0
Current Liabilities                           122
Shareholders equity                             0
Non-controlling interest                        0
Preferred equity                                0
Goodwill & intangibles                          0
Long-term debt                                  0
Revenue                                         3
Earnings                                        0
Earnings available for common stockholders      0
EPS basic                                       0
EPS diluted                                     0
Dividend per share                              0
Cash from operating activities                  2
Cash from investing activities                  2
Cash from financing activities                  2
Cash change during period                       0
Cash at end of period                           0
Capital expenditures                            0
Price                                          43
Price high                                     43
Price low                                      43
ROE                                            63
ROA                                             1
Book value of equity per share                  0
P/B ratio                                      84
P/E ratio                                     139
Cumulative dividends per share                  0
Dividend payout ratio                         102
Long-term debt to equity ratio                 43
Equity to assets ratio                         43
Net margin                                    103
Asset turnover                                  7
Free cash flow per share                        2
Current ratio                                 122
ticker                                          0
quarter_end                                     0
dtype: int64

In [92]:
#removing the Quarter End column since the date for quarter_end has already been given
df.drop(columns=['Quarter end'], inplace=True)

In [93]:
#both current assets and current liabilities have 122 missing values each
df[(df['Current Assets'].isna()) & (df['Current Liabilities'].isna())]

            Shares  Shares split adjusted  ...  ticker  quarter_end
ticker                                     ...
DE       318570788              318570788  ...      DE   2018-10-28
JPM     3325410725             3325410725  ...     JPM   2018-09-30
DHI      388133243              388133243  ...     DHI   2018-09-30
AIV      155644246              155644246  ...     AIV   2018-09-30
MS      1720154771             1720154771  ...      MS   2018-09-30
...            ...                    ...  ...     ...          ...
MER     1599731906             1599731906  ...     MER   2008-09-26
SAF       89944301               89944301  ...     SAF   2008-06-30
LEH      694401926              694401926  ...     LEH   2008-05-31
CFC      583344439              583344439  ...     CFC   2008-03-31
BSC      145698482              145698482  ...     BSC   2008-02-29

[122 rows x 42 columns]

In [95]:
df['Current Assets'] = df['Current Assets'].fillna(0)
df['Current Liabilities'] = df['Current Liabilities'].fillna(0)

In [127]:
del df['ticker']

KeyError: ignored

In [128]:
temp2 = df.reset_index().groupby(['ticker'])['quarter_end'].nunique().reset_index()

In [129]:
temp2

    ticker  quarter_end
0        A            1
1       AA            1
2      AAN            1
3      AAP            1
4     AAPL            1
..     ...          ...
750   YHOO            1
751    YUM            1
752   ZION            1
753    ZMH            1
754    ZTS            1

[755 rows x 2 columns]

In [118]:
df['quarter_end'] = pd.to_datetime(df['quarter_end'])
df['Year'] = df['quarter_end'].dt.year
df['Quarter'] = df['Year'].astype(str) + 'Q' + df['quarter_end'].dt.quarter.astype(str)
df['Yearmonth'] = df['Year'].astype(str) + 'M' + df['quarter_end'].dt.month.astype(str)

In [123]:
df.Year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006])

In [137]:
df.groupby(['Year','Quarter'])['quarter_end'].count()

Year  Quarter
2006  2006Q3       1
2007  2007Q3       1
2008  2008Q1       4
      2008Q2       4
      2008Q3       9
      2008Q4       2
2009  2009Q1       1
      2009Q2       2
      2009Q3       3
      2009Q4       5
2010  2010Q1       1
      2010Q2       2
      2010Q3       3
      2010Q4       3
2011  2011Q1       4
      2011Q2       1
      2011Q4       4
2012  2012Q1       3
      2012Q2       1
      2012Q3       2
      2012Q4       1
2013  2013Q1       2
      2013Q2       1
      2013Q3       6
      2013Q4       2
2014  2014Q1       2
      2014Q2       1
      2014Q3       3
      2014Q4       7
2015  2015Q1       3
      2015Q2       7
      2015Q3       6
      2015Q4       3
2016  2016Q1       6
      2016Q2       7
      2016Q3       6
      2016Q4       5
2017  2017Q1       4
      2017Q2       5
      2017Q3       3
      2017Q4       4
2018  2018Q1       4
      2018Q2       7
      2018Q3     539
      2018Q4      65
Name: quarter_end, dtype: int64

In [147]:
df_2018 = df[(df['Year']== 2018) & (df['Quarter'] == '2018Q3')]

In [151]:
df_2018.isnull().sum()

Shares                                          0
Shares split adjusted                           0
Split factor                                    0
Assets                                          0
Current Assets                                  0
Liabilities                                     0
Current Liabilities                             0
Shareholders equity                             0
Non-controlling interest                        0
Preferred equity                                0
Goodwill & intangibles                          0
Long-term debt                                  0
Revenue                                         0
Earnings                                        0
Earnings available for common stockholders      0
EPS basic                                       0
EPS diluted                                     0
Dividend per share                              0
Cash from operating activities                  2
Cash from investing activities                  2
Cash from financing activities                  2
Cash change during period                       0
Cash at end of period                           0
Capital expenditures                            0
Price                                           0
Price high                                      0
Price low                                       0
ROE                                            45
ROA                                             1
Book value of equity per share                  0
P/B ratio                                      31
P/E ratio                                      70
Cumulative dividends per share                  0
Dividend payout ratio                          66
Long-term debt to equity ratio                 30
Equity to assets ratio                         30
Net margin                                     67
Asset turnover                                  2
Free cash flow per share                        2
Current ratio                                 106
quarter_end                                     0
Year                                            0
Quarter                                         0
Yearmonth                                       0
dtype: int64

In [150]:
df.groupby(['Yearmonth', 'Quarter'])['Quarter'].count()

Yearmonth  Quarter
2006M9     2006Q3       1
2007M9     2007Q3       1
2008M12    2008Q4       2
2008M2     2008Q1       1
2008M3     2008Q1       3
                     ...
2018M2     2018Q1       2
2018M3     2018Q1       2
2018M6     2018Q2       7
2018M8     2018Q3      16
2018M9     2018Q3     523
Name: Quarter, Length: 65, dtype: int64

In [100]:
df['quarter_end'].unique()

array(['2018-11-30', '2018-11-29', '2018-11-25', '2018-11-17',
       '2018-11-10', '2018-11-04', '2018-11-03', '2018-11-02',
       '2018-10-31', '2018-10-28', '2018-10-27', '2018-10-26',
       '2018-10-06', '2018-09-30', '2018-09-29', '2018-09-28',
       '2018-09-23', '2018-09-08', '2018-09-01', '2018-08-31',
       '2018-08-26', '2018-06-30', '2018-03-31', '2018-02-28',
       '2018-02-04', '2017-12-31', '2017-12-29', '2017-09-30',
       '2017-07-29', '2017-07-02', '2017-06-30', '2017-04-01',
       '2017-03-31', '2017-01-01', '2016-12-31', '2016-11-30',
       '2016-10-02', '2016-10-01', '2016-09-30', '2016-09-23',
       '2016-07-03', '2016-06-30', '2016-06-24', '2016-04-03',
       '2016-04-01', '2016-03-31', '2015-12-31', '2015-09-30',
       '2015-09-27', '2015-09-25', '2015-06-30', '2015-05-30',
       '2015-04-30', '2015-03-31', '2015-03-28', '2014-12-31',
       '2014-12-26', '2014-11-30', '2014-11-02', '2014-11-01',
       '2014-09-30', '2014-09-06', '2014-06-28', '2014-03-31',
       '2014-03-30', '2013-12-31', '2013-09-30', '2013-09-28',
       '2013-09-27', '2013-08-02', '2013-06-30', '2013-03-31',
       '2013-01-27', '2012-10-31', '2012-09-30', '2012-06-30',
       '2012-03-31', '2011-12-31', '2011-10-01', '2011-05-29',
       '2011-03-31', '2011-03-26', '2011-01-31', '2010-12-31',
       '2010-09-30', '2010-06-30', '2010-04-03', '2010-03-31',
       '2009-12-31', '2009-12-26', '2009-09-30', '2009-09-27',
       '2009-06-30', '2009-03-31', '2008-12-31', '2008-09-30',
       '2008-09-26', '2008-06-30', '2008-05-31', '2008-03-31',
       '2008-02-29', '2007-09-30', '2006-09-30'], dtype=object)

In [130]:
df.head(3)

            Shares  Shares split adjusted  Split factor  ...  Year  Quarter  Yearmonth
ticker                                                   ...
ORCL    3588919000             3588919000             1  ...  2018   2018Q4    2018M11
FDX      261043625              261043625             1  ...  2018   2018Q4    2018M11
PAYX     359091176              359091176             1  ...  2018   2018Q4    2018M11

[3 rows x 44 columns]

In [131]:
#Shareholders equity = Asses - Liabilities - Non-controlling interest
#Reviewing that this equation holds true in this dataset 
temp = df.copy()
temp['shareholders_equity'] = temp['Assets'] - temp['Liabilities'] - temp['Non-controlling interest']
temp['diff'] = temp['shareholders_equity'] - temp['Shareholders equity']

In [132]:
temp[np.abs(temp['diff'] != 0)]

Empty DataFrame
Columns: [Shares, Shares split adjusted, Split factor, Assets, Current Assets, Liabilities, Current Liabilities, Shareholders equity, Non-controlling interest, Preferred equity, Goodwill & intangibles, Long-term debt, Revenue, Earnings, Earnings available for common stockholders, EPS basic, EPS diluted, Dividend per share, Cash from operating activities, Cash from investing activities, Cash from financing activities, Cash change during period, Cash at end of period, Capital expenditures, Price, Price high, Price low, ROE, ROA, Book value of equity per share, P/B ratio, P/E ratio, Cumulative dividends per share, Dividend payout ratio, Long-term debt to equity ratio, Equity to assets ratio, Net margin, Asset turnover, Free cash flow per share, Current ratio, quarter_end, Year, Quarter, Yearmonth, shareholders_equity, diff]
Index: []

In [38]:
df[df.Revenue.isnull()]

     Quarter end      Shares  ...  ticker  quarter_end
735          NaN   666161708  ...     SOV   2008-12-31
740          NaN  2160916994  ...      WB   2008-09-30
748          NaN   694401926  ...     LEH   2008-05-31

[3 rows x 43 columns]

In [43]:
temp['book_value_calculated'] = (temp['Shareholders equity'] - temp['Preferred equity'])
temp['book_value_per_share_calculated'] = temp['book_value_calculated']/temp['Shares']

In [47]:
temp.head()

   Quarter end  ...  book_value_per_share_calculated
0          NaN  ...                         8.518442
1          NaN  ...                        73.911018
2          NaN  ...                         6.751767
3          NaN  ...                        19.050449
4          NaN  ...                        27.144144

[5 rows x 47 columns]

In [48]:
temp['calculated_stock_price'] = temp['P/B ratio']*temp['Book value of equity per share']

temp.loc[temp.Price.isnull(), 'Price'] = temp['calculated_stock_price']
temp.loc[temp['Price high'].isnull(), 'Price high'] = temp['calculated_stock_price']
temp.loc[temp['Price low'].isnull(), 'Price low'] = temp['calculated_stock_price']

In [57]:
temp['calculated_net_income'] = temp['Net margin']*temp['Revenue']
temp['calculated_roe'] = temp['calculated_net_income']/temp['Shareholders equity']

temp['calculated_pe_ratio'] = temp['Price']/temp['EPS basic']

In [58]:
temp.head()

   Quarter end      Shares  ...  calculated_net_income  calculated_pe_ratio
0          NaN  3588919000  ...           9.571562e+08            78.142857
1          NaN   261043625  ...           1.286893e+09            65.609551
2          NaN   359091176  ...           2.404061e+08           105.227273
3          NaN   665541059  ...           1.059494e+09            81.565000
4          NaN   943444736  ...           1.338203e+09            64.720339

[5 rows x 51 columns]