In [ ]:
# installs

# notebook/colab
! pip install scikit-plot

Collecting scikit-plot
  Downloading https://files.pythonhosted.org/packages/7c/47/32520e259340c140a4ad27c1b97050dd3254fdc517b1d59974d47037510e/scikit_plot-0.3.7-py3-none-any.whl
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (1.4.1)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (0.22.2.post1)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy>=0.9->scikit-plot) (1.19.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.4.0->scikit-plot) (1.15.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7

In [20]:
# imports

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots

# what we need for today
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn import metrics 

import scikitplot as skplt

# color maps
from matplotlib import cm

# for distance and h-clustering
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
from scipy.spatial.distance import pdist, squareform


# sklearn does have some functionality too, but mostly a wrapper to scipy
from sklearn.metrics import pairwise_distances 
from sklearn.preprocessing import StandardScaler

## Loading the Data

In [197]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [211]:
path = "/content/stock-fundamentals.csv"
df = pd.read_csv(path)

In [199]:

df.shape

(755, 43)

In [200]:
df.head(3)

   Quarter end      Shares  ...  ticker  quarter_end
0          NaN  3588919000  ...    ORCL   2018-11-30
1          NaN   261043625  ...     FDX   2018-11-30
2          NaN   359091176  ...    PAYX   2018-11-30

[3 rows x 43 columns]

In [201]:
df.describe()

       Quarter end        Shares  ...  Free cash flow per share  Current ratio
count          0.0  7.550000e+02  ...                753.000000     633.000000
mean           NaN  4.911493e+08  ...                  6.622138       1.838612
std            NaN  8.853124e+08  ...                149.894366       1.378521
min            NaN  1.641681e+06  ...                -18.740000       0.192100
25%            NaN  1.265114e+08  ...                  0.120000       1.047500
50%            NaN  2.442958e+08  ...                  0.770000       1.498800
75%            NaN  4.788721e+08  ...                  1.650000       2.127800
max            NaN  9.814197e+09  ...               4113.470000      12.298000

[8 rows x 41 columns]

In [202]:
df.dtypes

Quarter end                                   float64
Shares                                          int64
Shares split adjusted                           int64
Split factor                                    int64
Assets                                          int64
Current Assets                                float64
Liabilities                                     int64
Current Liabilities                           float64
Shareholders equity                             int64
Non-controlling interest                        int64
Preferred equity                                int64
Goodwill & intangibles                          int64
Long-term debt                                  int64
Revenue                                       float64
Earnings                                        int64
Earnings available for common stockholders      int64
EPS basic                                     float64
EPS diluted                                   float64
Dividend per share                            float64
Cash from operating activities                float64
Cash from investing activities                float64
Cash from financing activities                float64
Cash change during period                       int64
Cash at end of period                           int64
Capital expenditures                            int64
Price                                         float64
Price high                                    float64
Price low                                     float64
ROE                                           float64
ROA                                           float64
Book value of equity per share                float64
P/B ratio                                     float64
P/E ratio                                     float64
Cumulative dividends per share                float64
Dividend payout ratio                         float64
Long-term debt to equity ratio                float64
Equity to assets ratio                        float64
Net margin                                    float64
Asset turnover                                float64
Free cash flow per share                      float64
Current ratio                                 float64
ticker                                         object
quarter_end                                    object
dtype: object

# Data Cleaning

In [213]:
#each ticker is unique
temp2 = df.copy()
temp2 = df.reset_index().groupby(['ticker'])['quarter_end'].nunique().reset_index()
temp2

    ticker  quarter_end
0        A            1
1       AA            1
2      AAN            1
3      AAP            1
4     AAPL            1
..     ...          ...
750   YHOO            1
751    YUM            1
752   ZION            1
753    ZMH            1
754    ZTS            1

[755 rows x 2 columns]

In [214]:
#each ticker is unique
temp2[temp2['quarter_end'] >1].count()

ticker         0
quarter_end    0
dtype: int64

In [215]:
#converting quarter_end to a datetime variable and creating additional features consisting of year, quarter and month 
df['quarter_end'] = pd.to_datetime(df['quarter_end'])
df['Year'] = df['quarter_end'].dt.year
df['Quarter'] = df['Year'].astype(str) + 'Q' + df['quarter_end'].dt.quarter.astype(str)
df['Yearmonth'] = df['Year'].astype(str) + 'M' + df['quarter_end'].dt.month.astype(str)

In [216]:
#the dataset has observations from 2006-2018
df.Year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006])

In [217]:
#the dataset has observations from 2006-2018
df.groupby(['Year','Quarter'])['quarter_end'].count()

Year  Quarter
2006  2006Q3       1
2007  2007Q3       1
2008  2008Q1       4
      2008Q2       4
      2008Q3       9
      2008Q4       2
2009  2009Q1       1
      2009Q2       2
      2009Q3       3
      2009Q4       5
2010  2010Q1       1
      2010Q2       2
      2010Q3       3
      2010Q4       3
2011  2011Q1       4
      2011Q2       1
      2011Q4       4
2012  2012Q1       3
      2012Q2       1
      2012Q3       2
      2012Q4       1
2013  2013Q1       2
      2013Q2       1
      2013Q3       6
      2013Q4       2
2014  2014Q1       2
      2014Q2       1
      2014Q3       3
      2014Q4       7
2015  2015Q1       3
      2015Q2       7
      2015Q3       6
      2015Q4       3
2016  2016Q1       6
      2016Q2       7
      2016Q3       6
      2016Q4       5
2017  2017Q1       4
      2017Q2       5
      2017Q3       3
      2017Q4       4
2018  2018Q1       4
      2018Q2       7
      2018Q3     539
      2018Q4      65
Name: quarter_end, dtype: int64

In [218]:
#only filtering for 2018 observations and creating a new dataframe 'df_2018'
df_2018 = df[(df['Year']== 2018) & (df['Quarter'] == '2018Q3')]

In [219]:
# Most of the stock movement takes place in September 2018
df_2018.groupby(['Yearmonth', 'Quarter'])['Quarter'].count()

Yearmonth  Quarter
2018M8     2018Q3      16
2018M9     2018Q3     523
Name: Quarter, dtype: int64

In [221]:
#filtering only for data in September 2018 
df_2018 = df_2018[df_2018['Yearmonth'] == '2018M9']

In [222]:
df_2018.index = df_2018['ticker']

In [223]:
df_2018.head(3)

        Quarter end     Shares  Shares split adjusted  ...  Year  Quarter  Yearmonth
ticker                                                 ...
URI             NaN   81102622               81102622  ...  2018   2018Q3     2018M9
NWL             NaN  466800000              466800000  ...  2018   2018Q3     2018M9
AJG             NaN  183652000              183652000  ...  2018   2018Q3     2018M9

[3 rows x 46 columns]

In [244]:
df_2018.isna().sum()

Shares                                         0
Shares split adjusted                          0
Split factor                                   0
Assets                                         0
Current Assets                                 0
Liabilities                                    0
Current Liabilities                            0
Shareholders equity                            0
Non-controlling interest                       0
Preferred equity                               0
Goodwill & intangibles                         0
Long-term debt                                 0
Revenue                                        0
Earnings                                       0
Earnings available for common stockholders     0
EPS basic                                      0
EPS diluted                                    0
Dividend per share                             0
Cash from operating activities                 0
Cash from investing activities                 0
Cash from financing activities                 0
Cash change during period                      0
Cash at end of period                          0
Capital expenditures                           0
Price                                          0
Price high                                     0
Price low                                      0
ROE                                           45
ROA                                            1
Book value of equity per share                 0
P/B ratio                                     31
P/E ratio                                     70
Cumulative dividends per share                 0
Dividend payout ratio                         66
Long-term debt to equity ratio                30
Equity to assets ratio                         0
Net margin                                    67
Asset turnover                                 2
Free cash flow per share                       2
Current ratio                                  0
ticker                                         0
quarter_end                                    0
Year                                           0
Quarter                                        0
Yearmonth                                      0
dtype: int64

In [226]:
#removing the Quarter End column since the date for quarter_end has already been given
df_2018.drop(columns=['Quarter end'], inplace=True)

In [227]:
#both current assets and current liabilities have 104 missing values each
df_2018[(df_2018['Current Assets'].isna()) & (df_2018['Current Liabilities'].isna())]

            Shares  Shares split adjusted  Split factor  ...  Year  Quarter  Yearmonth
ticker                                                   ...
JPM     3325410725             3325410725             1  ...  2018   2018Q3     2018M9
DHI      388133243              388133243             1  ...  2018   2018Q3     2018M9
AIV      155644246              155644246             1  ...  2018   2018Q3     2018M9
MS      1720154771             1720154771             1  ...  2018   2018Q3     2018M9
LUK      323072855              323072855             1  ...  2018   2018Q3     2018M9
...            ...                    ...           ...  ...   ...      ...        ...
RF      1033870240             1033870240             1  ...  2018   2018Q3     2018M9
ESS       66065097               66065097             1  ...  2018   2018Q3     2018M9
AHL       59697669               59697669             1  ...  2018   2018Q3     2018M9
KEY     1034530422             1034530422             1  ...  2018   2018Q3     2018M9
HCN      375644415              375644415             1  ...  2018   2018Q3     2018M9

[104 rows x 45 columns]

In [228]:
df_2018['Current Assets'] = df_2018['Current Assets'].fillna(0)
df_2018['Current Liabilities'] = df_2018['Current Liabilities'].fillna(0)

In [229]:
#Shareholders equity = Asses - Liabilities - Non-controlling interest
#Reviewing that this equation holds true in this dataset 
temp = df_2018.copy()
temp['shareholders_equity'] = temp['Assets'] - temp['Liabilities'] - temp['Non-controlling interest']
temp['diff'] = temp['shareholders_equity'] - temp['Shareholders equity']
temp[np.abs(temp['diff'] != 0)]

Empty DataFrame
Columns: [Shares, Shares split adjusted, Split factor, Assets, Current Assets, Liabilities, Current Liabilities, Shareholders equity, Non-controlling interest, Preferred equity, Goodwill & intangibles, Long-term debt, Revenue, Earnings, Earnings available for common stockholders, EPS basic, EPS diluted, Dividend per share, Cash from operating activities, Cash from investing activities, Cash from financing activities, Cash change during period, Cash at end of period, Capital expenditures, Price, Price high, Price low, ROE, ROA, Book value of equity per share, P/B ratio, P/E ratio, Cumulative dividends per share, Dividend payout ratio, Long-term debt to equity ratio, Equity to assets ratio, Net margin, Asset turnover, Free cash flow per share, Current ratio, ticker, quarter_end, Year, Quarter, Yearmonth, shareholders_equity, diff]
Index: []

In [262]:
#checking for missing values in df_2018
df_2018.isnull().sum()

Shares                                          0
Shares split adjusted                           0
Split factor                                    0
Assets                                          0
Current Assets                                  0
Liabilities                                     0
Current Liabilities                             0
Shareholders equity                             0
Non-controlling interest                        0
Preferred equity                                0
Goodwill & intangibles                          0
Long-term debt                                  0
Revenue                                         0
Earnings                                        0
Earnings available for common stockholders      0
EPS basic                                       0
EPS diluted                                     0
Dividend per share                              0
Cash from operating activities                  0
Cash from investing activities                  0
Cash from financing activities                  0
Cash change during period                       0
Cash at end of period                           0
Capital expenditures                            0
Price                                           0
Price high                                      0
Price low                                       0
ROE                                             0
ROA                                             0
Book value of equity per share                  0
P/B ratio                                      20
P/E ratio                                       0
Cumulative dividends per share                  0
Dividend payout ratio                           0
Long-term debt to equity ratio                  0
Equity to assets ratio                          0
Net margin                                      0
Asset turnover                                  0
Free cash flow per share                        0
Current ratio                                   0
ticker                                          0
quarter_end                                     0
Year                                            0
Quarter                                         0
Yearmonth                                       0
Long-term debt to equity ratio                435
dtype: int64

In [230]:
#non-controlling interest and preferred equity are valued at $0 for observations with null values for cash from operating, investing and finaning activities 
df_2018[(df_2018['Cash from operating activities']).isnull()]

           Shares  Shares split adjusted  Split factor  ...  Year  Quarter  Yearmonth
ticker                                                  ...
R        53088113               53088113             1  ...  2018   2018Q3     2018M9
GD      296149755              296149755             1  ...  2018   2018Q3     2018M9

[2 rows x 45 columns]

In [231]:
#replacing null values with 0
df_2018['Cash from operating activities'] = df_2018['Cash from operating activities'].fillna(0)
df_2018['Cash from investing activities'] = df_2018['Cash from investing activities'].fillna(0)
df_2018['Cash from financing activities'] = df_2018['Cash from financing activities'].fillna(0)

In [232]:
#Equity to assets ratio = Shareholders Equity/Total Assets
df_2018['Equity to assets ratio'] = df_2018['Equity to assets ratio'].fillna(( df_2018['Shareholders equity']/df_2018['Assets'] ))

In [233]:
#filling null values for price, price high and price low
temp = df_2018.copy()
temp['book_value_calculated'] = (temp['Shareholders equity'] - temp['Preferred equity'])
temp['book_value_per_share_calculated'] = temp['book_value_calculated']/temp['Shares']
temp['calculated_stock_price'] = temp['P/B ratio']*temp['Book value of equity per share']

df_2018.loc[df_2018.Price.isnull(), 'Price'] = temp['calculated_stock_price']
df_2018.loc[df_2018['Price high'].isnull(), 'Price high'] = temp['calculated_stock_price']
df_2018.loc[df_2018['Price low'].isnull(), 'Price low'] = temp['calculated_stock_price']

In [243]:
#current ratio = current assets/current liabilities
#current ratio is null when either current assets or current liabilities or both are valued at 0
#replacing null values of current ratio with 0
df_2018['Current ratio'] = df_2018['Current ratio'].fillna(0)

In [251]:
#dropping rows with null values for net margin
df_2018.dropna(subset=['Net margin', 'Free cash flow per share'], inplace=True)

In [254]:
#calculating ROE to fill missing values
temp['calculated_net_income'] = temp['Net margin']*temp['Revenue']
temp['calculated_roe'] = temp['calculated_net_income']/temp['Shareholders equity']

df_2018.loc[df_2018['ROE'].isnull(), 'ROE'] = temp['calculated_roe']

In [259]:
#calculating long term debt to equity ratio to fill missing values 
temp['calculated_longtermdebt'] = temp['Long-term debt']/temp['Shareholders equity']

df_2018.loc[df_2018['Long-term debt to equity ratio'].isnull(), 'Long-term debt to equity ratio'] = temp['calculated_longtermdebt']

In [261]:
#calculating p/e ratio to fill missing values 
temp['calculated_pe_ratio'] = temp['Price']/temp['EPS basic']

df_2018.loc[df_2018['P/E ratio'].isnull(), 'P/E ratio'] = temp['calculated_pe_ratio']